
<shared-menu></shared-menu>

<router-outlet></router-outlet>


  
<!--
  <p-button 
    styleClass="p-button-help"
    icon="pi pi-check" iconPos="right"
    (click)="mostrarNombre()"
    label="Cambiar Nombre">
  </p-button>
-->

<!--
<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad saepe cupiditate itaque odio iste quis laborum in illum sint minus aut harum eaque rem ducimus excepturi alias deleniti, ipsum explicabo?
</p-card>
-->